<div class="mat-elevation-z8">

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select required name="role" ngModel #role="ngModel" [(ngModel)]="userSelectedRole" (ngModelChange)="onRoleSelectionChange()">
      <mat-option *ngFor="let role of roles" [value]="role.shortrole">
        {{ role.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="sortedQuizQuestions" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8" *ngIf="showTableHeader">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let question"> {{question.title}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let question"> {{question.options}} </td>
    </ng-container>

    <ng-container matColumnDef="answer">
      <th mat-header-cell *matHeaderCellDef> Answer </th>
      <td mat-cell *matCellDef="let question"> {{question.answer}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let question"> {{question.role}} </td>
    </ng-container> -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <!-- <td mat-cell *matCellDef="let question"> {{question._id}} </td> -->
      <td mat-cell *matCellDef="let question">
        <!-- <button mat-icon-button (click)="openDialog(question)">
          <span matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </span>
        </button>

        <a (click)="openConfirmDialog(question)">
          <span matTooltip="Delete">
            <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
          </span>
        </a> -->
            
        <button mat-raised-button (click)="openDialog(question)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button>

        <button mat-raised-button (click)="openConfirmDialog(question)">
          <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let question"> {{question.role}} </td>
    </ng-container>

    <ng-container matColumnDef="shortrole">
      <th mat-header-cell *matHeaderCellDef> shortrole </th>
      <td mat-cell *matCellDef="let question"> {{question.shortrole}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator mat-paginator [pageSizeOptions]="pageSizeOptions" (change)="pageSizeChange($event)"  *ngIf="showTableHeader"></mat-paginator>
</div>