<h1>Welcome, {{ userInfo[0] }}</h1>

<ul>
  <li>This assessment quiz will consist of 10 questions.</li>
  <li>All questions are mandatory.</li>
  <li>There won't be negative marking for wrong answers.</li>
  <li>You will be able to navigate between questions by making use of "Previous" and "Next" buttons respectively.</li>
</ul>

<p>Click the button below to begin your assessment.</p>

<button (click)="beginQuiz()" class="btn btn-primary">Begin Assessment</button>

<!-- <div *ngIf="serviceError; then serviceErrorContainer"></div> -->

<div *ngIf="serviceError" class="mt-3">
  {{ serviceErrorMessage }}
</div>

<ng-template #serviceErrorContainer>
  {{ serviceErrorMessage }}
</ng-template>