<div *ngIf="!assessmentCompleted; else otherContent">
  <h2 class="question-count">
    Question {{ activeQuestion + 1 }} of {{ questionsList.length }}
  </h2>

  <h3 class="question-title">
    {{ questionsList[activeQuestion]?.title }}
  </h3>

  <form class="form" role="form">
    <ul class="option-list">
      <li *ngFor="let option of questionsList[activeQuestion]?.options; let i = index">
        <input type="radio" name="optradio" id="{{i}}" (change)="onOptionChange($event)" [attr.value]="option">
        {{ option }}
      </li>
    </ul>
  </form>

  <button class="btn btn-primary mr-3" (click)="onPrevQuestion()" [disabled]="isPrevButtonDisabled">Previous</button>
  <button class="btn btn-primary mr-3" (click)="onNextQuestion()" [disabled]="isNextButtonDisabled">Next</button>
  <button class="btn btn-secondary" (click)="onSubmitQuiz()" *ngIf="isSubmitButtonVisible">Submit</button>
</div>

<!-- display the message if assessment is submitted by user -->
<ng-template #otherContent>
  <p>Your assessment is complete.</p>
  <!-- <p>{{ userInfo[0] }}, you scored {{ assessmentScore }} out of {{ questionsList.length }} questions attempted.</p> -->
  <p>Kindly co-ordinate with HR for your result.</p>
</ng-template>

<div *ngIf="serviceError" class="col-sm-12 alert alert-danger mt-3">
  {{ serviceErrorMessage }}
</div>

<ng-template #serviceErrorContainer>
  {{ serviceErrorMessage }}
</ng-template>
