/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

mat-dialog-container#modal-component {
  /* border: 3px solid #262626; */
  border-radius: 11px;
  /* background-color: #1a1a1a; */
}

mat-dialog-container#modal-component mat-form-field {
  width: 100%;
}