<h2 mat-dialog-title>{{modalTitle}}</h2>

<p>{{queryTitle}}: {{title}}</p>

<!-- <form [formGroup]="questionUpdateForm" autocomplete="off" novalidate (ngSubmit)="updateQuestion(questionId, questionUpdateForm.value)"
  fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <mat-label>Question</mat-label>
      <input matInput placeholder="Question title" formControlName="title" id="title" [value]="title">
      <mat-hint align="end">Minimum 5 characters.</mat-hint>
      <mat-error *ngIf="checkError('title', 'required')">
        Question title is required
      </mat-error>
      <mat-error *ngIf="checkError('title', 'minlength')">Minimum
        {{ questionUpdateForm.get('title').errors.minlength.requiredLength }} characters required</mat-error>
    </mat-form-field>



    <div *ngFor="let control of questionControlsArray.controls; let i = index">
      <mat-form-field appearance="fill">
        <mat-label>Option {{i + 1}}</mat-label>
        <input matInput placeholder="" [formControl]="questionControlsArray.controls[i]" [value]="questionControlsArray.controls[i].value">
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Correct Answer</mat-label>
      <input matInput placeholder="" formControlName="answer" id="answer" [value]="answer">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Role</mat-label>
      <input matInput placeholder="" formControlName="role" id="role" [value]="role">
    </mat-form-field>
  </mat-dialog-content>

</form> -->
    
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="deleteQuestion(questionId)">Delete</button>
  <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>